.container {
  border: 1px solid black;
  border-radius: 5px;
  widows: auto;
  margin: auto;
}

.propertylabel {
  margin-left: 20px;
}

.valuelabel{
  margin-left: 20px;
}

.listitem {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.rowcontainer {
  width: 100%;
  display: flex;
}


.profilecardrow{
  margin: 3px 0px 1px 0px ;
  width: 100%;
}