.access-control-table {
	max-height: 300px;
	overflow: scroll;
}

.access-control-table td {
	border-right: 1px solid black;
}


.access-control-table th {
	font-size: small;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}