.sidebar {
  height: 100%;
  width: 100%;
}
.sidebarcomponentcontainer {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.syncbutton {
  margin-top: 5px;
  height: 25px;
}
.sidebarList {
  height: calc(100% - 35px);
  overflow-x: scroll;
  border: 1px solid black;
}

.li {
  overflow-wrap: break-word;
}

.uppercontainer {
  height: 60%;
}

.lowercontainer {
  height: 40%;
  overflow-x: scroll;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.col {
  text-align: center;
}