.documentsviewcontainer {
  overflow: scroll;
  height: 100%;
}

.refreshDivButton {
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  top: 7px;
  left: 50px;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}


.searchLocation {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  top: 7px;
  left: 120px;
  width: 48%;
}

.chonky {
  height: 100%;
}