.logincomponent {
  height: 100%;
  width: 100%;
  background-color: lightblue;
}
.center {
  width:300px;
  height:200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  color: #fff;
  background-color: #3f51b5;
  border-color: #6c757d;

  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}
