

.propertyview {
  display: flex;
  align-content: center;
  font-size: large;
  margin: 7px;
  margin-bottom: 20px;
}

.propertylabel {  
  font-weight: bold;
  width: 30%;
  text-align: left;
}

.valuelabel {
  width: 60%;
  text-align: left;
}

input {
  border: none
}

#submit {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.profilecardindent {
  margin-left: 30%;
  margin-right: 10%;
  margin-bottom: 25px;
}


.inputfield {
  border-bottom: 1px solid black;
}