.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body, #root, #app, #app>div {
  height: 100%;
  width: 100%;
}

.navbar {
  height: 60px;
}

.contentcontainer {
  flex-grow: 1;
  height: calc(100% - 65px);
  width: 100%;
  padding: 10px;
  margin: auto;
}


.maincontentcontainer {
  height: 100%;
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
}

.sidebarexpand {
  background-color: gray;
  border: 1px solid black;
  font-size: xx-large;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  z-index: 2000;
  right: 2px;
  position: absolute;
}

.sidebarcontainer {
  height: 100%;
  border: 1px solid black;
  padding: 10px;
  z-index: 1000;
  right: 0px;
  background-color: white;
  position: absolute;
}