.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  width: 100%;
  height: 100%;
}

.col {
  height: 100%;
  word-break: break-word;
}

.container {
  background-color: white;
  padding-top: 3px;
  padding-bottom: 10px;
  margin-top: 25px;
}

li{
  list-style-type: none;
}

.pageheader {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.centeraligntext {
  text-align: center;
  width: 100%;
}

.leftaligntext {
  text-align: left;
  width: 100%;
}

#mainscreencontainer {
  /* margin-left: 5%; */
}

/* button {
  font-weight: bold !important;
} */

.toolbarcolor {
  background-color: #3f51b5;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

header {
  background-color: #3f51b5;
  color: #fff;
}

.sidebar {
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.sidebarcontent {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.active {
  background-color: lightgray !important;
}

.nonactive{
  background-color: none;
}

.backbutton {
  float: top right;
}

h4 {
  margin-bottom: 20px !important;
}

.topmenuitem {
  margin: 3px !important; 
}

.topmenuitemleft {
  margin-left: auto !important;
}

.container {
  min-height: 75vh;
}

.chonky-root {
  min-height: 60vh;
}